.filterable-table-posts {
  background-color: aliceblue;
}

.search-bar-form {
  padding: 20px;
}

.search-bar-form-input {
  padding: 6px;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
}

.posts {
  list-style-type: none;
}

.single-post {
  background-color: aliceblue;
  margin-bottom: 20px;
  padding: 20px;
  list-style-type: none;
}

.single-post-title {
  font-weight: 500;
}
